
/* Uncomment the code block below to see what happens */


body {
  background-color: lightblue;
  text-align: center;
}

.clock {
  height: 100px;
  width: 800px;
  position: absolute;
  font-family: courier, monospace;
  text-align: center;
  color: white;
  font-size: 100px;
  left: 18%;
  
  
}

