
/* Uncomment the code block below to see what happens */



  h1 { text-align: center; }
  p.pic {text-align: center }
  a.resume {position:fixed;
            right:0;
            top:0;
            width: 40px;
            border:0; }
  body {background-color: lightgray;} 
  
  
.clock
{
  font-family: 'Times New Roman', serif;
  font-size: 50px;
  text-align: center;
}


